/** @format */
body {
  font-family: roboto;
}
ul li {
  list-style-type: none;
}
h2 h3 {
  color: #212121;
}
header div ul li a {
  text-decoration: none;
  color: #212121;
}
header div ul li a:hover {
  color: #2196f3;
}
header div ul li {
}
header div a {
  text-decoration: none;
  color: #212121;
}
header div a:hover {
  color: #2196f3;
}
/* blog tu */
main section h1 {
  font-size: 44px;
}
.one ul li div h3 {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.one ul li div p {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.innit ul li div h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  line-height: normal;
}
.innit ul li div p {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  background-color: #2f303a;
  min-height: 252px;
}
footer address ul li p {
  color: #fff;
}
footer address ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
footer address ul li a:hover {
  color: #2196f3;
}
